/*

/-----indonesiaX-----\
|----Khoirul Padli----|
\www.indonesiax.co.id/

*

.tombol {
    background-color: #2587C8; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}


.tombol2:hover {
    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

body {
  margin: 0;
  font-family: 'Droid Serif', serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}


/* header */

.header {
      border-bottom: 1px solid #919191;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    background: #fff;
    position: relative;
    width: 100%;
    height: 76px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  width: 45%;
  float: left;
  margin: 5px 39px 0 0;
  position: relative;

}

/*
.header .logo1 {
  
  float: center;
  font-size: 4em;
  padding: 20px 65px;
  
}

/* menu */

.header .menu {

    margin-top: 0px;
    list-style: none;
    float: left;

  clear: both;
  max-height: 0px;
  transition: max-height .2s ease-out;

}

header.global .nav-global li, header.global .nav-global div {
    display: inline-block;
    margin: 0 21px 0 0;
    font-size: 0.875em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0 !important;
}

/* menu icon */
/* hamburger menu */


.header .icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 51px 19px;
  position: relative;
  user-select: none;
}

.header .icon .navicon {
  
    background: #333;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 23px;
}

.header .icon .navicon:before,
.header .icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .icon .navicon:before {
  top: 5px;
}

.header .icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .btn {
  display: none;
}

.header .btn:checked ~ .menu {
  max-height: 240px;
}

.header .btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: left;
    max-height: none;
  }
  .header .icon {
    display: none;
  }
}


/* section */

.section {
  overflow: hidden;
  margin: auto;
  max-width: 1400px;
}

.section a {
  position: relative;
  float: left;
  width: 100%;
}

.section a img {
  width: 100%;
  display: block;
}

.section a span {
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 2em;
  text-shadow: 1px 1px 0 #000;
}


.section-split a span {
  display: none;
}

.section-split a:hover span {
  display: block;
}


/* 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}


